In [1]:
# importing libraries
from bs4 import BeautifulSoup
import urllib.request
import re
import pandas as pd
import datetime

In [2]:
url="https://thehallofrecords.930.com/"

In [3]:
# conntect to website
page = urllib.request.urlopen(url)

In [4]:
soup = BeautifulSoup(page, 'html.parser')

In [5]:
content_lis = soup.find_all('div', attrs={'class':"panel panel-default"})

In [6]:
df = pd.DataFrame(columns = ['band','album','date','albumtype'])

In [7]:
k=0
for lisitem in range(len(content_lis)):
    h = content_lis[lisitem].find('h4', attrs={"class":"panel-title"})
    a_tag=h.find('a')
    band=a_tag.getText().split('\n')[1].strip()
    for i in range (len(content_lis[lisitem].find_all('tr'))-1):
        alb=content_lis[lisitem].find_all('tr')[i+1].find_all('td')[0].find('span',attrs={"class":"album"})
        album=alb.getText().split('\n')[1].strip()
        dt=content_lis[lisitem].find_all('tr')[i+1].find_all('td')[1].text.strip()
        dt1=datetime.datetime.strptime(dt, "%Y-%m-%d")
        typ=content_lis[lisitem].find_all('tr')[i+1].find_all('td')[2].text.strip()
        df.loc[k]=[band,album,dt1,typ]
        k+=1

In [8]:
df.head()

           band                      album       date albumtype
0  1/2 JAPANESE                       Loud 1982-10-31     Vinyl
1      2 CHAINZ    Based on a T.R.U. Story 2012-09-02        CD
2   2 LIVE CREW  As Nasty As They Wanna Be 1990-10-02     Vinyl
3     24-7 SPYZ        Strength in Numbers 1992-01-02        CD
4     24-7 SPYZ        Strength in Numbers 1992-12-22        CD

In [9]:
df.describe()

            band   album                 date albumtype
count       2744    2744                 2744      2744
unique      1567    2236                 2696         2
top     TOASTERS  Dub 56  2011-10-22 00:00:00        CD
freq          29      12                    3      2295
first        NaN     NaN  1980-06-13 00:00:00       NaN
last         NaN     NaN  2019-02-20 00:00:00       NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2744 entries, 0 to 2743
Data columns (total 4 columns):
band         2744 non-null object
album        2744 non-null object
date         2744 non-null datetime64[ns]
albumtype    2744 non-null object
dtypes: datetime64[ns](1), object(3)
memory usage: 107.2+ KB

In [11]:
df['albumtype'].describe()

count     2744
unique       2
top         CD
freq      2295
Name: albumtype, dtype: object